<nav id="navBar">
    <ul id="navigationLinks">
        <li><a href="#">Monitores</a></li>
        <li><a href="#">Componentes</a></li>
        <li><a href="#">Periféricos</a></li>
        <li><a href="#">Portátiles</a></li>
        <li><a href="#">Reacondicionados</a></li>
        <li><a href="./sobreNosotros.php">Sobre nosotros</a></li>
        <li><a href="./contacto.php">Contacto</a></li>
    </ul>
    <div id="loginIcon" title="Login"><a href="#"><i class="fa-solid fa-user"></i></a></div>
    <div id="basketIcon" title="Carrito"><a href="#"><i class="fa-solid fa-basket-shopping"></i></a><input type="text"
            id="floatingAmount" value="0" readonly>
        <ul id="shoppingList"></ul>
    </div>
</nav>